<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polish Weather API</title>
</head>
<body>
    <h1>Polish Weather API</h1>
    <h3>Querry examples:</h3>
        <p>Access all data: http://127.0.0.1:5000/weather</p>
    <h3>Date endpoints:</h3>
        <p>Access data from exact date: http://127.0.0.1:5000/weather/date/2019-01-01</p>
        <p>Access data from date range: http://127.0.0.1:5000/weather/date/between/2005-01-01/2010-01-02</p>
        <p>Access data after: http://127.0.0.1:5000/weather/date/after/2005-01-01</p>
        <p>Access data before: http://127.0.0.1:5000/weather/date/before/2010-01-02</p>
</body>
</html>